.logo {
  font-family: Bryant-Bold;
  font-size: 48px;
  margin: 20px 0px 0px 30px;
}

.logo a {
  color: #000;
}

nav {
  float: right;
  margin-right: 20px;
}

li {
  display: inline-block;
  font-family: Bryant-Bold;
  font-size: 24px;
  padding: 0px 30px 0px 0px;
}

li a {
  color: #000;
}

a {
  text-decoration: none;
}

p {
  font-family: Bryant-bold;
  font-size: 20px;
  color: #000;
}

@font-face {
  font-family: ‘Bryant’;
  src: url(Bryant.eot’);
  src: url(Bryant.woff’) format(‘woff’), 
       url(Bryant.ttf’) format(‘truetype’), 
             url(Bryant.svg’) format(‘svg’);

  font-family: ‘Bryant-bold’;
  src: url(Bryant-bold.eot’);
  src: url(Bryant-bold.woff’) format(‘woff’), 
       url(Bryant-bold.ttf’) format(‘truetype’), 
             url(Bryant-bold.svg’) format(‘svg’);
}

.top {
  background: url("images/placement.png"); center center no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
  display: inline-block;
  z-index: -1;
  margin: 0 auto;
}

.party-text {
  text-align: center;
}

.party-text p {
  font-size: 70px;
  font-family: Sanchez;
  font-weight: 400;
}

.speech-bubble {
  text-align: center;
  margin-top: 20px;
}

.emojis {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.happy {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.silly {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.sad {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.angry {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.daring {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.grey-bg {
  background-color: #ececec;
  width: 100%;
  height: 100%;
}

.title p {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.structure {
  margin:0 auto;
  background-color: #c6c6c6;
  width: 90%;
  height: 70%;
}

.recipe-text {
background-color: blue;
  width: 35%;
  height: 50%;
}

.recipe-image {
  width: 100px;
  height: 10px;
  background-color: #c6c6c6;
}