header {
  clear: both;
  position: relative;
  z-index: 9999;
}

nav {
  float: right;
  margin-top: 35px;
  margin-right: 30px;
  display: inline;
}

li {
  display: inline-block;
  font-family: Bryant-Bold;
  font-size: 24px;
  padding: 0px 30px 0px 0px;
}

li a {
  color: #000;
}

a {
  text-decoration: none;
}

p {
  font-family: Bryant-bold;
  font-size: 20px;
  color: #000;
}

body {
  background-color: gray;
}

@font-face {
  font-family: ‘Bryant’;
  src: url(Bryant.eot’);
  src: url(Bryant.woff’) format(‘woff’), 
       url(Bryant.ttf’) format(‘truetype’), 
             url(Bryant.svg’) format(‘svg’);

  font-family: ‘Bryant-bold’;
  src: url(Bryant-bold.eot’);
  src: url(Bryant-bold.woff’) format(‘woff’), 
       url(Bryant-bold.ttf’) format(‘truetype’), 
             url(Bryant-bold.svg’) format(‘svg’);
}

.logo {
  font-family: Bryant-Bold;
  font-size: 48px;
  margin: 20px 0px 0px 30px;
  clear: both;
  float: left;
}

.logo a {
  color: #000;
}

#top {
  background: url("../images/placement.png"); center center no-repeat;
  position: relative;
  width: 100%;
  height: 700px;
  background-size: cover;
  display: inline-block;
  margin: 0 auto;
}

.party-text {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
}

.party-text p {
  font-size: 70px;
  font-family: Sanchez;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  line-height: 70px;
  padding-bottom: 10px;
}

.speech-bubble {
  text-align: center;
  margin-top: 20px;
}

.emojis {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.happy {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.silly {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.sad {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.angry {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.daring {
  display: inline-block;
  clear: both;
  margin-right: 50px;
}

.grey-bg {
  background-color: #ececec;
  width: 100%;
  height: 100%;
  clear: both;
}

.title {
  padding-top: 50px;
}

.title p {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.structure {
  margin:0 auto;
  background-color: #c6c6c6;
  width: 90%;
  height: 500px;
  clear: both;
  margin-top: -200px;
}

.recipe-text {
  background-color: #fff;
  width: 35%;
  height: 50%;
  font-family: Sanchez;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 20px;
}

.recipe-text a {
  color: #dd1505;
}

.recipe-text p {
  padding-top: 20px;
}

.recipe-image {
  width: 100px;
  height: 10px;
  background-color: #c6c6c6;
}

.more-recipes {
  margin-top: 250px;
  margin-bottom: 200px;
}

.recipe-1 {
  background-color: red;
  width: 30%;
  height: 200px;
  margin-right: 60px;
  display: inline-block;
  float: left;
}

.recipe-1-text {
  background-color: #fff;
  margin-top: 200px;
  width: 90%;
  padding-left: 20px;
  padding-top: 5px;
}

.recipe-1-title {
  margin-top: 30px;
}

.recipe-1-blurb {
  margin-top: 10px;
}

.test {
  text-decoration: none;
}

.recipe-2 {
  background-color: green;
  width: 30%;
  height: 200px;
  margin-right: 60px;
  display: inline-block;
}

.recipe-3 {
  background-color: blue;
  width: 30%;
  height: 200px;
  display: inline-block;
}