* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header {
  clear: both;
  position: relative;
  z-index: 9999;
}

nav {
  float: right;
  margin-top: 3%;
  margin-right: 2%;
  display: inline;
}

li {
  display: inline-block;
  font-family: Bryant-Bold;
  font-size: 24px;
  padding: 0px 30px 0px 0px;
}

li a {
  color: #333;
}

a {
  text-decoration: none;
}

p {
  font-family: Bryant-bold;
  font-size: 20px;
  color: #000;
}

@font-face {
  font-family: ‘Bryant’;
  src: url(Bryant.eot’);
  src: url(Bryant.woff’) format(‘woff’), 
       url(Bryant.ttf’) format(‘truetype’), 
             url(Bryant.svg’) format(‘svg’);

  font-family: ‘Bryant-bold’;
  src: url(Bryant-bold.eot’);
  src: url(Bryant-bold.woff’) format(‘woff’), 
       url(Bryant-bold.ttf’) format(‘truetype’), 
             url(Bryant-bold.svg’) format(‘svg’);
}

.logo {
  font-family: Bryant-Bold;
  font-size: 48px;
  margin: 1.5% 0 0 2%;
  clear: both;
  float: left;
}

.logo a {
  color: #333333;
}

#top {
  width: 100%;
  height: 700px;
  background-size: cover;
  display: inline-block;
  margin: 0 auto;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

.chevron {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 680px;
}

.omnom-text {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
}

.omnom-text p {
  font-size: 70px;
  font-family: Sanchez;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  line-height: 70px;
  padding-bottom: 10px;
}

.speech-bubble {
  text-align: center;
  margin-top: 120px;
}

.emojis {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.happy {
  display: inline-block;
  margin-right: 50px;
}

.silly {
  display: inline-block;
  margin-right: 50px;
}

.sad {
  display: inline-block;
  margin-right: 50px;
}

.angry {
  display: inline-block;
  margin-right: 50px;
}

.daring {
  display: inline-block;
  margin-right: 50px;
}

.grey {
  background-color: #E8E8E8;
  margin-top: 150px;
}

.structure {
  top: -120px;
  position: relative;
  height: 850px;
  box-sizing: border-box;
}

.title {
  padding-top: 2%;
  text-align: center;
}

.title h1 {
  font-size: 3.43em;
  margin-top: 5%;
  margin-bottom: 1%;
  color: #333;
  font-family: "Sanchez";
  display: inline-block;
}

.happy-small {
  display: inline-block;
  padding-top: 50px;
  position: relative;
  top: 16px;
  left: 10px;

}

.featured {
  margin: auto;
  width: 90%;
  height: 50%;
  background: url("../images/placement.png"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

.recipe-title {
  font-family: Sanchez;
  font-size: 50px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: #F8F8F8;
  color: #dd1505;
  width: 350px;
  height: 60%;
  margin-top: 10px;
}

.recipe-title p {
  padding-top: 20px;
}

.recipe-title a {
  color: #dd1505;
}

.more-recipes {
  width: 90%;
  margin: 30px auto;
  height: 50%;
}

.column {
  background-color: #fff;
  width: 33.33%;
  height: 350px;
  margin-right: 1.2%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.column.last {
  background-color: #fff;
  width: 33.33%;
  height: 350px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.column-img img{
  width: 100%;
}

.column-text {
  padding: 2% 4% 0 4%;
}

.column-title {

}

.column-title a {
  color: #dd1505;
  font-family: "Sanchez";
}

.column-blurb {
  margin-top: 3%;
  font-size: 1em;
}

.get-recipe {
  padding-top: 6%;
}

.get-recipe a {
  text-decoration: none;
  font-family: Bryant-bold;
  font-size: 1em;
  color: #dd1505;
}

$tl: 0.6s; // transition length


body {
  margin: 5%;
}

$tl: 0.6s; // transition length


body {
  margin: 5%;
}

$tl: 0.6s; // transition length


body {
  margin: 5%;
}

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 40px;height: 40px;
  border-radius: 20px;border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);
  & + label .search-icon {    color: black    }
  &:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    & + label .search-icon {    color: white    }
  }
  &:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
    border: none;outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
    & + label .search-icon {    color: black;    }
  }
  &:not(:focus) {    text-indent:-5000px;    }
}

#search-submit {
  position: relative;left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

